<div class="mt-4">
  <form method="post">
    <div class="form-group">
      <label class="form-check-label" for="search-input">Từ khóa</label>
      <input
        name="query"
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Nhap tu khoa..."
      />
      <select name="gender" class="form-control" id="gender-input">
        <option value="choose">--Choose gender</option>
        <option value="male">Male</option>
        <option value="demale">Female</option>
      </select>
    </div>
    <button type="submit" class="mt-4 btn btn-primary">Submit</button>
  </form>
</div>